body { margin:0; padding:0; }

#map { position:absolute; top:0; bottom:0; width:100%; }

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 28%;
    top: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay table {
    border: none;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

.map-overlay .bottonlist{
    font: "Arial";
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
}

.map-overlay  .button{
    background-color: Transparent;
    width: 220px;
    border: none;
    color: white;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
}

.map-overlay .button:hover {background-color: rgba(255, 255, 255, 0.3)}

.map-overlay .button:active {background-color: rgba(255, 255, 255, 0.3)}

.map-overlay .radiobutton{
    font: inherit;
}

.map-overlay h2 {
    color: #eaeaea;
    font-size: 24px;
    color: #ffffff;
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}

.map-overlay h3 {
    padding: 5px 0px;
    color: #eaeaea;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    display: block;
    margin: 10px 0px;
}

.map-overlay label {
    font: 16px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #ffffff;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}