html, body {
    margin: 0;
    padding: 0;
    background: #555;
}

/*Globe styling: */
#globus {
    width: 60%;
    height: 60%;
}

#layerName {
    position: absolute;
    color: black;
    background-color: white;
    z-index: 100;
    padding: 10px;
    font-size: 18px;
    margin: 15px;
}

/*Alt globe styling: */

#globe {
    cursor: move;
}

#current {
    position: absolute;
    color: white;
    font-family: sans-serif;
    margin-left: 4%;
    margin-top: 4%;
}