/*Styling for hover over easy buttons on leaflet map*/
#high[title]:hover:after, #mid[title]:hover:after, #low[title]:hover:after {
    content: attr(title);
    position: absolute;
    top: 0%;
    left: 100%;
    width: 800%;
    background-color: white;
    font-stretch: ultra-condensed;
}