/*Styling for hover over easy buttons on leaflet map*/
#high[title]:hover:after, #mid[title]:hover:after, #low[title]:hover:after {
    content: attr(title);
    position: absolute;
    top: 0%;
    left: 100%;
    width: 800%;
    background-color: white;
    font-stretch: ultra-condensed;
}

/*Slider icon*/
.slider-handle.custom::before {
    tooltip: 'never';
    line-height: 20px;
    font-size: 20px;
    content: '\2601'; /*cloud unicode*/
    color: #000000;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    width: 350px;
}


#myDiv1, #myDiv2, #myDiv3 {
 display: none;
 text-align: center;
}

.line {
    stroke-width: 3;
    stroke: #ffab00;
    fill: none;
}


/*.axis path,*/
/*.axis line {*/
/*    fill: none;*/
/*    stroke: #000;*/
/*    shape-rendering: crispEdges;*/
/*}*/
/*.axis text {*/
/*    font-size: 10px;*/
/*}*/